@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-hanken-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-on-primary: var(--on-primary);
  --color-surface-container-low: var(--surface-container-low);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-inverse-surface: var(--inverse-surface);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-on-primary-container: var(--on-primary-container);
  --color-on-error: var(--on-error);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-secondary-container: var(--secondary-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-error: var(--error);
  --color-on-background: var(--on-background);
  --color-outline-variant: var(--outline-variant);
  --color-surface: var(--surface);
  --color-surface-container: var(--surface-container);
  --color-on-secondary: var(--on-secondary);
  --color-inverse-primary: var(--inverse-primary);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-secondary: var(--secondary);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-background: var(--background);
  --color-surface-bright: var(--surface-bright);
  --color-surface-dim: var(--surface-dim);
  --color-tertiary: var(--tertiary);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-primary-container: var(--primary-container);
  --color-surface-variant: var(--surface-variant);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-surface-tint: var(--surface-tint);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-on-error-container: var(--on-error-container);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-tertiary: var(--on-tertiary);
  --color-error-container: var(--error-container);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-on-surface: var(--on-surface);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-outline: var(--outline);
  --color-analysis-secondary: var(--analysis-secondary);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --outline: #6c7a71;
  --on-primary: #ffffff;
  --surface-container-low: #eff4ff;
  --on-primary-fixed: #002113;
  --tertiary-fixed: #ffdad7;
  --primary-fixed-dim: #4edea3;
  --inverse-surface: #213145;
  --on-primary-fixed-variant: #005236;
  --on-primary-container: #00422b;
  --on-error: #ffffff;
  --tertiary-fixed-dim: #ffb3af;
  --secondary-container: #fea619;
  --surface-container-high: #dce9ff;
  --error: #ba1a1a;
  --on-background: #0b1c30;
  --outline-variant: #bbcabf;
  --surface: #f8f9ff;
  --surface-container: #e5eeff;
  --on-secondary: #ffffff;
  --inverse-primary: #4edea3;
  --surface-container-highest: #d3e4fe;
  --surface-container-lowest: #ffffff;
  --inverse-on-surface: #eaf1ff;
  --analysis-secondary: #855300;
  --surface-bright: #f8f9ff;
  --surface-dim: #cbdbf5;
  --tertiary: #a43a3a;
  --secondary-fixed: #ffddb8;
  --primary-container: #10b981;
  --surface-variant: #d3e4fe;
  --on-secondary-fixed: #2a1700;
  --on-tertiary-fixed: #410005;
  --tertiary-container: #fc7c78;
  --on-tertiary-container: #711419;
  --surface-tint: #006c49;
  --on-secondary-container: #684000;
  --on-surface-variant: #3c4a42;
  --on-error-container: #93000a;
  --on-secondary-fixed-variant: #653e00;
  --primary-fixed: #6ffbbe;
  --on-tertiary: #ffffff;
  --error-container: #ffdad6;
  --on-tertiary-fixed-variant: #842225;
  --on-surface: #0b1c30;
  --secondary-fixed-dim: #ffb95f;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
